---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import nosotros from '../img/nosotros.jpg'
---

<Layout title="Nosotros" description='Página de tienda de instrumentos musicales, guitarras, cursos, blog y más'>
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>

        <div class="contenido">
            <Image src={nosotros} alt="Imagen sobre nosotros" />

            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem unde recusandae deleniti consequatur perferendis dignissimos culpa exercitationem, soluta quaerat et dolorum dolorem deserunt autem, quo consequuntur atque omnis sint tempore.
                Consequatur quam libero, facere saepe totam provident possimus fuga veritatis, tempore unde, non perferendis quos laboriosam nihil blanditiis quas. Sit necessitatibus voluptate consequatur iusto ad sapiente labore magni magnam sunt!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio praesentium molestias optio magni excepturi obcaecati vel? Odio cumque velit perspiciatis ipsam blanditiis accusamus amet aperiam maiores? Porro, corporis cumque.</p>
            </div>
        </div>
	</main>
</Layout>

<style>
    .contenido {
        display: grid;
        gap: 4rem;
    }
    @media (min-width: 768px) {
        .contenido {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }
</style>
